@keyframes welcomeAni {
    from { color: #1c5ec2; }
    to { color: white; }
}

@keyframes screenup {
    from { transform: translateY(0%); }
    100% { display: none; }
    to { transform: translateY(-120%); }
}

.welcome {
    text-align: center;
    animation-name: welcomeAni;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    font-size: 60px;
}


.welcome-screen {
    position: absolute;
    z-index: 100;
    background-color: #1c5ec2;
    height: 100vh;
    width: 100vw;
    animation-name: screenup;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    box-shadow: 2px 6px 20px black;
}